services:
  web:
    build:
      context: .
    ports:
      - "443:443"
    volumes:
      - ./ssl:/ssl
    environment:
      - SSL_KEYFILE=/ssl/certificate.key
      - SSL_CERTFILE=/ssl/certificate.crt